*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
p,
a {
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
}

.container {
  display: flex;
  height: 100vh;
}

.wrapper {
  display: flex;
}

.welcome--container {
  margin: auto;
  align-items: center;
}

.welcome--container h1 {
  font-size: 1.953rem;
  height: 1.3em;
  color: #293264;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
}

.welcome--container p {
  font-size: 1rem;
  margin-top: 0.44em;
  margin-bottom: 1.81em;
  height: 1.19em;
  color: #293264;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.welcome--container a {
  font-size: 1rem;
  padding: 1.02em 1.75em;
  vertical-align: middle;
  width: 12.06em;
  margin: 0 auto;
  border-radius: 15px;
  background: #4D5B9E;
  color: #F5F7FB;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
}

.questions--container {
  margin: 3em auto;
}

.unit--question--container {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #DBDEF0;
}

.question {
  color: #293264;
  font-family: Karla;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0.75em;
  max-width: 800px;
}

.questions--container span {
  padding: 0.4em 1.87em;
  font-size: 0.96rem;
  margin-right: 1.24em;
  border-radius: 7.942px;
  border: 0.794px solid #4D5B9E;
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.answer--choices {
  display: flex;
}

.score--text {
  font-size: 1.2rem;
  color: #293264;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 3em;
}

.play--again--btn {
  color: #F5F7FB;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #4D5B9E;
  min-width: 8em;
  padding: 0.75em 1em;
  border-radius: 0.8em;
}

.dashboard--container {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 1.5em;
}